.container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.friend_list {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.item {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 5px;

  -webkit-box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.name {
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}
.avatar {
  display: block;
  margin-left: 15px;
  border: 1px solid white;
  border-radius: 3px;
}

.online {
  margin-left: 15px;
  background-color: green;
  color: transparent;
  border-radius: 50%;
  font-size: 14px;
}
.offline {
  margin-left: 15px;
  background-color: red;
  color: transparent;
  border-radius: 50%;
  font-size: 14px;
}
